/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: inherit; /* No global color, allows individual components to set their own colors */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures content pushes footer down */
  height: 100vh; /* Full viewport height */
}

/* App Container */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex-grow: 1;
}

/* Main content section */
.main-content {
  flex-grow: 1; /* Ensures the main content takes available space */

}
